<h1>Example App: Home213</h1>

<a href="#" id="lnkButton">link</a>
<script>
    console.log("toto");
    $(document).ready(function () {
        $("#lnkButton").on("click", () => { console.log("clicked"); });
    });
</script>